@import "./variables/Variables.scss";

html {
  overflow-x: hidden;
}
::-moz-selection {
  color: $bg_color3;
  background: $bg_color4;
}

::selection {
  color: $bg_color3;
  background: $bg_color4;
}
body {
  position: relative;
  font-family: $font_family;
  background-color: $bg_color3;
  color: $bg_color2;
  line-height: 1.6;
  overflow-x: hidden;
  height: 100%;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
.Typewriter__cursor {
  font-family: $font_family;
}
.skip {
  color: $bg_color4;
  text-transform: uppercase;
  font-size: 0.8rem !important;
  letter-spacing: 3px !important;
  font-family: $font_family2;
  font-weight: bold !important;
  width: 100%;
  text-align: right !important;
  cursor: pointer !important;
  position: relative !important;
}
strong {
  color: $bg_color4;
}
small {
  display: block;
  font-size: 0.6rem;
  font-weight: normal;
  letter-spacing: 2px;
  font-family: $font_family2;
  font-style: italic;
  text-decoration: underline;
  position: relative;
  width: fit-content;
  margin: 1rem auto 0;
}
